<div id="{{include.albumname}}">

    {%- for image in site.static_files -%}
    {%- if image.path contains 'images/gallery' and image.path contains include.albumname -%}
    {%- unless image.path contains 'thumbnails' -%}
    <a href="{{ image.path }}" data-sub-html="{% exiftag image_description, , {{ image.path }} %}">
        <img src="/thumbnails{{ image.path }}" />
    </a>
    {%- endunless -%}
    {%- endif -%}
    {%- endfor -%}

</div>
<script type="text/javascript">
    lightGallery(document.getElementById("{{include.albumname}}")); 
</script>
